.pac-container{
    z-index:9999;
}

#point-nickname, #point-search, #edit-point-nickname, #edit-point-search {
    height: 50px;
    font-size: 18px;
}

#main-page, #login-form {
    margin-top: 50%;
}