.pac-container{
    z-index:9999;
}

#point-nickname, #point-search, #edit-point-nickname, #edit-point-search {
    height: 50px;
    font-size: 18px;
}

div#login-note.ten.wide.column .message, div#interest-box.ten.wide.column {
    margin-top: 50px !important;
}